<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".Application.Merkado"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Merkado"
        tools:ignore="DiscouragedApi"
        tools:targetApi="31">
        <activity
            android:name=".Screens.Economy.SettingsEconomy"
            android:exported="true"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Screens.Game.Story.PrePostTest"
            android:exported="true"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Screens.Game.Story.QuizDisplay"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.Game.ObjectivesDisplay"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.Game.Sectors.ChooseSector"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.Game.Sectors.FactoryConsumerView"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.Game.Sectors.Factories"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.Game.Sectors.Factory"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.Game.Store.StoreSellerSelectItem"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.Game.Store.StoreSellerView"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.Game.Store.StoreConsumerView"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.Game.Store.Stores"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.Game.QuestAndStories.QuestAndStories"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.Game.Inventory.InventoryActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.Game.MainMap"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.Economy.CreateEconomy"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.Game.Story.StoryMode"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.Economy.AddEconomy"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.MainMenu.Lobby"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.Settings.TermsAndConditions"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.Settings.About"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.Settings.ChangePassword"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.Settings.ChangeUsername"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.LoadingScreen.ServerLoadingScreen"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.Settings.SettingsMenu"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.Account.SignOut"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.MainMenu.MainMenu"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.Account.ResetPassword"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.Account.SignUp"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.Account.SignIn"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.LoadingScreen.SplashScreen"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>