<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".Application.Merkado"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Merkado"
        tools:targetApi="31">
        <activity
            android:name=".Screens.Game.Store.Stores"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.Game.QuestAndStories.QuestAndStories"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.Game.Inventory.Inventory"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.Game.MainMap"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.Economy.CreateEconomy"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.Game.StoryMode"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.Economy.AddEconomy"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.MainMenu.Lobby"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.Settings.TermsAndConditions"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.Settings.About"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.Settings.ChangePassword"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.Settings.ChangeUsername"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.LoadingScreen.ServerLoadingScreen"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.Settings.SettingsMenu"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.Account.SignOut"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.MainMenu.MainMenu"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.Account.ResetPassword"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.Account.SignUp"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.Account.SignIn"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Screens.LoadingScreen.SplashScreen"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>